/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'Witch';
  src: url("assets/fonts/witch_magic/Witch Magic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
